/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0f1424;
  font-family: 'Rubik', sans-serif;
  color: #bdc1ff; }

.main-container {
  width: 328px;
  margin: 150px auto;
  position: relative; }

.main-card__user {
  background-color: #5847eb;
  display: flex;
  border-radius: 16px;
  padding: 30px; }

.main-card__image {
  width: 72px;
  margin-right: 10px;
  border: 3px solid white;
  border-radius: 50%; }

.main-card__title {
  font-size: 0.9em;
  margin: 10px 0 4px; }

.main-card__name {
  font-size: 1.5em;
  font-weight: 300;
  color: white; }

.main-card__dates {
  background-color: #1c1f4a;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 52px;
  font-size: 1.2em;
  position: absolute;
  width: 100%;
  top: 105px;
  z-index: -1; }

.activity-section {
  margin-top: 96px; }
