/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0f1424;
  font-family: 'Rubik', sans-serif;
  color: #bdc1ff; }

.main-container {
  width: 328px;
  margin: 150px auto; }

.user-section {
  position: relative; }

.main-card__user {
  background-color: #5847eb;
  display: flex;
  border-radius: 16px;
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 1; }

.main-card__image {
  width: 72px;
  margin-right: 10px;
  border: 3px solid white;
  border-radius: 50%; }

.main-card__title {
  font-size: 0.9em;
  margin: 10px 0 4px; }

.main-card__name {
  font-size: 1.5em;
  font-weight: 300;
  color: white; }

.main-card__dates {
  background-color: #1c1f4a;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 52px;
  font-size: 1.2em;
  position: absolute;
  width: 100%;
  top: 105px; }

.main-card__frequency:hover {
  cursor: pointer;
  color: white; }

.activity-section {
  padding-top: 220px; }

.card {
  position: relative;
  margin-bottom: 105px; }
  .card__background {
    background-color: #ff8c66;
    height: 80px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden; }
  .card__image {
    margin-top: -10px;
    padding-left: 235px; }
  .card__details {
    background-color: #1c1f4a;
    display: flex;
    flex-direction: column;
    height: 122px;
    justify-content: space-between;
    padding: 25px;
    border-radius: 16px;
    position: absolute;
    width: 100%;
    bottom: -85px; }
    .card__details:hover {
      background-color: #6f76c8;
      cursor: pointer; }
  .card__activity {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .card__interval {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .card__title {
    font-size: 1.2em;
    color: white;
    font-weight: 500; }
  .card__hours {
    font-size: 2em;
    color: white;
    font-weight: 300; }

.atribution {
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px; }
  .atribution a {
    color: #5847eb; }

@media (min-width: 1200px) {
  .main-container {
    width: 1150px;
    display: flex; }
  .user-section {
    width: 280px;
    height: 564px;
    padding-top: 24px; }
  .main-card__user {
    height: 355px;
    flex-direction: column; }
  .main-card__image {
    width: 85px;
    margin-bottom: 45px; }
  .main-card__title {
    font-size: 1em; }
  .main-card__name {
    font-size: 2.4em; }
  .main-card__dates {
    margin-top: 245px;
    height: 200px;
    flex-direction: column;
    padding: 40px 32px 18px; }
  .activity-section {
    width: 860px;
    height: 564px;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 24px; }
  .card {
    width: 240px;
    height: 244px;
    margin-bottom: 25px; }
    .card__image {
      padding-left: 140px; }
    .card__details {
      height: 200px;
      bottom: -10px; }
    .card__interval {
      height: 300px;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0; } }
